.homepage-header {
    padding-top: 12em;
    text-align: center;
}

.homepage-form {
    padding-top: 3em;
}

.footer {
    padding-top: 10em;
    text-align: center;
    font-size: smaller;
}

.divider {
    border-right: lightgray;
    border-right-width: 1px;
    border-right-style: solid;
    padding-top: 2em;
}

.results-body {
    padding-top: 3em;
}

.sidebar {
    padding-right: 1em;
}

.sidebar-content {
    margin-bottom: 1em;
}

.tab-body {
    padding: 1em;
}

.tab-note {
    padding-bottom: 2em;
}

.external-link-icon {
    margin-left: 5px;
}