<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/local.css">
        <title>
            Wikipedia Article Impact Tool
        </title>
    </head>
    <body>
        <div class="homepage-header">
            <h1>Wikipedia Article Impact Tool</h1>
        </div>
        <form method="POST">
            <div class="container homepage-form">
                <div class="row justify-content-md-center">
                    <div class="col-1">
                        <label for="languageSelector" class="form-label">Language code</label>
                    </div>
                    <div class="col-5">
                        <label for="articleTitle" class="form-label">Article title</label>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-1">
                        <input type="text" class="form-control" id="languageSelector" placeholder="de" name="language">
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control" id="articleTitle" name="title">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="footer">
            Built by <a href="https://meta.wikimedia.org/wiki/User:Samwalton9">Sam Walton</a> - <a href="https://github.com/Samwalton9/ArticleImpactTool">Github</a>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>